Repository gabivicu/laravel-react-resource-management-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-pint, typescript-type-check, eslint

.pre-commit-config.yaml:

# Pre-commit configuration file
# This file can be used with the pre-commit framework (https://pre-commit.com/)
# Install with: pip install pre-commit && pre-commit install

repos:
  - repo: local
    hooks:
      - id: php-pint
        name: Laravel Pint
        entry: bash -c 'if [ -f "docker-compose.yml" ] && command -v docker-compose &> /dev/null; then docker-compose exec -T app ./vendor/bin/pint --test; else ./vendor/bin/pint --test; fi'
        language: system
        files: \.php$
        pass_filenames: false
        
      - id: typescript-type-check
        name: TypeScript Type Check
        entry: bash -c 'if [ -f "docker-compose.yml" ] && command -v docker-compose &> /dev/null; then docker-compose exec -T node npm run type-check; else npm run type-check; fi'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        
      - id: eslint
        name: ESLint
        entry: bash -c 'if [ -f "docker-compose.yml" ] && command -v docker-compose &> /dev/null; then docker-compose exec -T node npm run lint; else npm run lint; fi'
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

docs: add pre-commit hook installation script and update README
  README.md
  scripts/install-pre-commit.sh
Due: none

fix: assign roles to test users to fix authorization failures
  tests/Feature/AnalyticsApiTest.php
  tests/Feature/ProjectApiTest.php
  tests/Feature/ResourceAllocationApiTest.php
  tests/Feature/TaskApiTest.php
Due: php-pint

fix: improve pre-commit hook to handle staged files better
  docs/PRE_COMMIT.md
  scripts/pre-commit.sh
Due: none

fix: resolve ResourceAllocationPolicy authorization issue in tests
  app/Domains/Resource/Policies/ResourceAllocationPolicy.php
  app/Domains/User/Models/User.php
  app/Http/Requests/ResourceAllocation/UpdateResourceAllocationRequest.php
Due: php-pint

refactor: translate all comments and documentation to English
  .github/workflows/README.md
  app/Core/Exceptions/RepositoryException.php
  app/Core/Exceptions/TenantException.php
  app/Core/Support/BaseRepository.php
  app/Core/Traits/HasTenantScope.php
  app/Domains/Organization/Models/Organization.php
  app/Domains/Permission/Models/Role.php
  app/Domains/Project/Models/Project.php
  app/Domains/Task/Models/Task.php
  app/Providers/RepositoryServiceProvider.php
  bootstrap/app.php
  config/multi-tenancy.php
  config/permissions.php
  database/migrations/2024_01_01_000006_create_permissions_table.php
  database/migrations/2024_01_01_000011_create_tasks_table.php
  database/seeders/PermissionSeeder.php
  docker/fix-permissions.sh
  resources/js/services/api.ts
  resources/js/store/auth.ts
  resources/js/types/index.ts
  routes/web.php
Due: php-pint, typescript-type-check, eslint

feat: implement edit project modal and fix backend relationship error
  app/Domains/Project/Repositories/ProjectRepository.php
  app/Domains/Project/Services/ProjectService.php
  resources/js/components/projects/ProjectForm.tsx
  resources/js/components/projects/ProjectList.tsx
  resources/js/components/ui/Modal.tsx
Due: php-pint, typescript-type-check, eslint

feat: implement Swagger/OpenAPI documentation with clean architecture
  app/Documentation/Api/V1/ApiInfo.php
  app/Documentation/Api/V1/AuthDocs.php
  app/Documentation/Api/V1/ProjectDocs.php
  app/Documentation/Api/V1/TaskDocs.php
  composer.json
  composer.lock
  config/l5-swagger.php
Due: php-pint

style: fix php code style issues (Pint)
  app/Documentation/Api/V1/ApiInfo.php
  app/Documentation/Api/V1/AuthDocs.php
  app/Documentation/Api/V1/ProjectDocs.php
  app/Documentation/Api/V1/TaskDocs.php
  app/Domains/Analytics/Services/AnalyticsService.php
Due: php-pint

test: add authorization negative test case
  tests/Feature/ProjectApiTest.php
Due: php-pint

feat: implement API Resources and refactor directory structure
  app/Documentation/Api/ApiInfo.php
  app/Documentation/Api/AuthDocs.php
  app/Documentation/Api/ProjectDocs.php
  app/Documentation/Api/TaskDocs.php
  app/Http/Controllers/Api/V1/AuthController.php
  app/Http/Controllers/Api/V1/ProjectController.php
  app/Http/Controllers/Api/V1/TaskController.php
  app/Http/Resources/ProjectResource.php
  app/Http/Resources/TaskResource.php
  app/Http/Resources/UserResource.php
Due: php-pint

feat: implement caching and background queues for scalability
  app/Domains/Analytics/Services/AnalyticsService.php
  app/Domains/Project/Services/ProjectService.php
  app/Jobs/ProcessProjectCreation.php
Due: php-pint

test: add LoadTestSeeder for performance testing
  database/seeders/LoadTestSeeder.php
Due: php-pint

style: fix php code style issues in LoadTestSeeder
  database/seeders/LoadTestSeeder.php
Due: php-pint

implement cache invalidation with observers
  app/Observers/ProjectObserver.php
  app/Observers/ResourceAllocationObserver.php
  app/Observers/TaskObserver.php
  app/Providers/AppServiceProvider.php
  app/Traits/ClearsOrganizationCache.php
Due: php-pint

fix: clear cache after load test seeding
  database/seeders/LoadTestSeeder.php
Due: php-pint

fix: ensure observers clear cache after transaction commit
  app/Observers/ProjectObserver.php
  app/Observers/ResourceAllocationObserver.php
  app/Observers/TaskObserver.php
Due: php-pint

use config for analytics cache TTL
  app/Domains/Analytics/Services/AnalyticsService.php
  config/analytics.php
Due: php-pint

feat: implement Super Admin role (Global Access)
  app/Core/Middleware/TenantScopeMiddleware.php
  app/Domains/User/Models/User.php
  database/migrations/2026_01_23_131126_add_is_super_admin_to_users_table.php
  database/seeders/SuperAdminSeeder.php
Due: php-pint

feat: implement God View for Super Admin
  app/Core/Traits/HasTenantScope.php
  app/Domains/Analytics/Services/AnalyticsService.php
  app/Http/Controllers/Api/V1/AnalyticsController.php
Due: php-pint

implemented infinite scroll for pagination
  resources/js/components/users/UserList.tsx
  resources/js/hooks/useIntersectionObserver.ts
  resources/js/services/users.ts
Due: typescript-type-check, eslint

fix: resolve TypeScript errors and missing pagination types
  resources/js/components/projects/ProjectList.tsx
  resources/js/components/tasks/TaskList.tsx
  resources/js/components/users/UserList.tsx
  resources/js/services/projects.ts
  resources/js/services/tasks.ts
  resources/js/types/index.ts
  tests/Unit/services/projectService.test.ts
  tests/Unit/services/taskService.test.ts
  tests/setup.ts
Due: typescript-type-check, eslint

show project details in a modal
  app/Domains/Project/Policies/ProjectPolicy.php
  app/Domains/Resource/Policies/ResourceAllocationPolicy.php
  app/Domains/Task/Policies/TaskPolicy.php
  resources/js/components/projects/ProjectDetailsModal.tsx
  resources/js/components/projects/ProjectList.tsx
  tests/Unit/components/ProjectList.test.tsx
Due: php-pint, typescript-type-check, eslint

search bar for projects
  resources/js/components/projects/ProjectList.tsx
  resources/js/hooks/useDebounce.ts
  tests/Unit/components/ProjectList.test.tsx
Due: typescript-type-check, eslint

improve tasks UX and performance
  app/Domains/Project/Repositories/ProjectRepository.php
  resources/js/components/projects/ProjectSelector.tsx
  resources/js/components/tasks/TaskForm.tsx
  resources/js/components/tasks/TaskList.tsx
Due: php-pint, typescript-type-check, eslint

prevent loading all tasks in Kanban board without project selection
  resources/js/components/tasks/KanbanBoard.tsx
  tests/Unit/components/TaskForm.test.tsx
Due: typescript-type-check, eslint

add delete confirmation modal for tasks
  resources/js/components/tasks/TaskDeleteModal.tsx
  resources/js/components/tasks/TaskList.tsx
Due: typescript-type-check, eslint

add kanban board button to project details modal and fix unused import
  resources/js/components/projects/ProjectDetailsModal.tsx
  resources/js/components/tasks/KanbanBoard.tsx
Due: typescript-type-check, eslint

use modal for task creation in kanban with preselected project
  resources/js/components/tasks/KanbanBoard.tsx
  resources/js/components/tasks/TaskForm.tsx
Due: typescript-type-check, eslint

feat: implement real-time Kanban updates using Laravel Reverb
  app/Domains/Task/Services/TaskService.php
  app/Events/TaskMoved.php
  bootstrap/app.php
  composer.json
  composer.lock
  config/broadcasting.php
  config/reverb.php
  docker-compose.yml
  package-lock.json
  package.json
  resource_management
  resources/js/app.tsx
  resources/js/components/tasks/KanbanBoard.tsx
  resources/js/echo.ts
  resources/views/vendor/l5-swagger/.gitkeep
  resources/views/vendor/l5-swagger/index.blade.php
  routes/api.php
  routes/channels.php
  storage/api-docs/api-docs.json
  storage/clockwork/.gitignore
Due: php-pint, typescript-type-check, eslint

feat: improve Resource Allocation UX with modal and ProjectSelector
  app/Http/Controllers/Api/V1/ProjectController.php
  app/Http/Controllers/Api/V1/TaskController.php
  resources/js/components/projects/ProjectForm.tsx
  resources/js/components/resourceAllocations/ResourceAllocationForm.tsx
  resources/js/components/resourceAllocations/ResourceAllocationList.tsx
Due: php-pint, typescript-type-check, eslint

enabled move using arrows for projects search
  resources/js/components/projects/ProjectList.tsx
  resources/js/components/projects/ProjectSelector.tsx
Due: typescript-type-check, eslint

responsive design for mobile and tablet
  resources/js/components/layout/Header.tsx
  resources/js/components/layout/Layout.tsx
  resources/js/components/layout/Sidebar.tsx
  resources/js/components/projects/ProjectList.tsx
  resources/js/components/projects/ProjectSelector.tsx
  resources/js/components/resourceAllocations/ResourceAllocationList.tsx
  resources/js/components/tasks/KanbanBoard.tsx
  resources/js/components/ui/Modal.tsx
Due: typescript-type-check, eslint

create alias for btaining commit link after each push
  scripts/git-push-with-link.sh
Due: none

create alias for btaining commit link after each push
  push.sh
  scripts/git-push-with-link.sh
  scripts/install-git-push-hook.sh
Due: none

adjust kanban board card dimension dependin on the scree size
  resources/js/components/tasks/KanbanBoard.tsx
Due: typescript-type-check, eslint

fix git push hook and improve Kanban board responsiveness for large screens
  scripts/install-git-push-hook.sh
Due: none

Add E2E testing with Cypress, Sentry monitoring, task search & sorting, and UI improvements
  .cypressignore
  .env.example
  .gitignore
  Dockerfile.node
  Makefile
  README.md
  app/Domains/Task/Repositories/TaskRepository.php
  app/Providers/AppServiceProvider.php
  bootstrap/app.php
  composer.json
  composer.lock
  config/sentry.php
  cypress.config.cjs
  cypress/e2e/critical-path.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/docker-setup.ts
  cypress/support/e2e.ts
  docker-compose.yml
  docs/E2E_TESTING.md
  docs/SENTRY_LOCAL_SETUP.md
  docs/SENTRY_SETUP.md
  package-lock.json
  package.json
  resources/js/app.tsx
  resources/js/components/ErrorBoundary.tsx
  resources/js/components/tasks/TaskList.tsx
  resources/js/services/tasks.ts
  tests/e2e/helpers/auth.ts
  tsconfig.node.json
Due: php-pint, typescript-type-check, eslint

Fix TypeScript errors: remove invalid Sentry option and unused React import
  resources/js/app.tsx
  resources/js/components/ErrorBoundary.tsx
Due: typescript-type-check, eslint

feat: implement advanced rate limiting middleware and configuration
  app/Core/Middleware/AdvancedRateLimitingMiddleware.php
  app/Providers/AppServiceProvider.php
  bootstrap/app.php
Due: php-pint
