Repository gabivicu/laravel-react-resource-management-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-pint, typescript-type-check, eslint

php-pint:
  name: Laravel Pint
  entry: bash -c 'if [ -f "docker-compose.yml" ] && command -v docker-compose &> /dev/null; then docker-compose exec -T app ./vendor/bin/pint --test; else ./vendor/bin/pint --test; fi'
  language: system
  pass_filenames: false

typescript-type-check:
  name: TypeScript Type Check
  entry: bash -c 'if [ -f "docker-compose.yml" ] && command -v docker-compose &> /dev/null; then docker-compose exec -T node npm run type-check; else npm run type-check; fi'
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bash -c 'if [ -f "docker-compose.yml" ] && command -v docker-compose &> /dev/null; then docker-compose exec -T node npm run lint; else npm run lint; fi'
  language: system
  pass_filenames: false

feat: apply rate limiting to API routes
  routes/api.php
Due: php-pint

test: add unit tests for rate limiting functionality
  tests/Unit/AdvancedRateLimitingMiddlewareTest.php
  tests/Unit/RateLimiterConfigurationTest.php
Due: php-pint

test: add E2E tests and documentation for rate limiting
  cypress/e2e/rate-limiting.cy.ts
  docs/RATE_LIMITING.md
Due: typescript-type-check, eslint

fix: fix Kanban board route ordering and improve error handling
  app/Http/Controllers/Api/V1/TaskController.php
  app/Http/Resources/TaskResource.php
Due: php-pint

feat: improve task sorting and set title as default sort
  app/Domains/Task/Repositories/TaskRepository.php
  resources/js/components/tasks/TaskList.tsx
Due: php-pint, typescript-type-check, eslint

test: improve Cypress test reliability and browser configuration
  cypress/e2e/critical-path.cy.ts
  cypress/support/commands.ts
  docs/E2E_TESTING.md
  package.json
  resources/js/components/layout/Layout.tsx
Due: typescript-type-check, eslint

feat: implement internationalization (i18n) with RO/EN language support
  app/Http/Middleware/SetLocale.php
  bootstrap/app.php
  docs/I18N.md
  lang/en/messages.php
  lang/ro/messages.php
  resources/js/app.tsx
  resources/js/components/analytics/AnalyticsDashboard.tsx
  resources/js/components/auth/Login.tsx
  resources/js/components/dashboard/RecentActivity.tsx
  resources/js/components/dashboard/StatCard.tsx
  resources/js/components/layout/Dashboard.tsx
  resources/js/components/layout/Header.tsx
  resources/js/components/layout/Sidebar.tsx
  resources/js/components/projects/ProjectDetailsModal.tsx
  resources/js/components/projects/ProjectForm.tsx
  resources/js/components/projects/ProjectList.tsx
  resources/js/components/projects/ProjectSelector.tsx
  resources/js/components/resourceAllocations/ResourceAllocationForm.tsx
  resources/js/components/resourceAllocations/ResourceAllocationList.tsx
  resources/js/components/tasks/KanbanBoard.tsx
  resources/js/components/tasks/TaskDeleteModal.tsx
  resources/js/components/tasks/TaskForm.tsx
  resources/js/components/tasks/TaskList.tsx
  resources/js/components/ui/LanguageSelector.tsx
  resources/js/components/users/UserList.tsx
  resources/js/i18n/config.ts
  resources/js/i18n/locales/en.json
  resources/js/i18n/locales/ro.json
  resources/js/services/api.ts
  tests/Unit/components/ProjectList.test.tsx
  tests/Unit/components/TaskForm.test.tsx
  tests/setup.ts
Due: php-pint, typescript-type-check, eslint

feat: improve rate limiting and Cypress E2E tests
  app/Core/Middleware/AdvancedRateLimitingMiddleware.php
  cypress/e2e/critical-path.cy.ts
  cypress/support/commands.ts
  package-lock.json
  package.json
  routes/api.php
  tests/Unit/AdvancedRateLimitingMiddlewareTest.php
Due: php-pint, typescript-type-check, eslint

feat: Add user avatar upload functionality and fix authentication issues
  app/Core/Middleware/AdvancedRateLimitingMiddleware.php
  app/Domains/User/Models/User.php
  app/Domains/User/Services/UserService.php
  app/Http/Controllers/Api/V1/UserController.php
  app/Http/Resources/UserResource.php
  app/Providers/AppServiceProvider.php
  database/migrations/2026_01_25_194004_add_avatar_to_users_table.php
  docker/nginx/default.conf
  package-lock.json
  package.json
  resources/js/app.tsx
  resources/js/components/App.tsx
  resources/js/components/layout/Header.tsx
  resources/js/components/layout/Layout.tsx
  resources/js/components/ui/LanguageSelector.tsx
  resources/js/components/users/ProfileEditForm.tsx
  resources/js/i18n/locales/en.json
  resources/js/i18n/locales/ro.json
  resources/js/services/api.ts
  resources/js/store/auth.ts
  resources/js/types/index.ts
  routes/api.php
Due: php-pint, typescript-type-check, eslint

fix: Resolve ESLint warnings in App.tsx
  resources/js/components/App.tsx
Due: typescript-type-check, eslint

Add comprehensive unit tests and improve code coverage
  Dockerfile
  app/Domains/Analytics/Services/AnalyticsService.php
  app/Domains/Permission/Models/Permission.php
  app/Domains/Permission/Models/Role.php
  database/factories/PermissionFactory.php
  database/factories/RoleFactory.php
  phpunit.xml
  resource_management
  tests/Unit/AnalyticsServiceTest.php
  tests/Unit/ExceptionTest.php
  tests/Unit/HasTenantScopeTest.php
  tests/Unit/ObserverTest.php
  tests/Unit/RoleServiceTest.php
  tests/Unit/TenantScopeMiddlewareTest.php
  tests/Unit/UserServiceTest.php
Due: php-pint

Fix PermissionFactory to generate unique slugs using UUID
  database/factories/PermissionFactory.php
Due: php-pint

fix github action fail
  database/factories/PermissionFactory.php
Due: php-pint

Seeder for large number of projects and tasks
  database/factories/ProjectFactory.php
  database/factories/TaskFactory.php
  database/seeders/DatabaseSeeder.php
  database/seeders/LargeScaleSeeder.php
Due: php-pint

add reusable Material UI components
  resources/js/components/ui/ConfirmDialog.tsx
  resources/js/components/ui/DatePicker.tsx
  resources/js/components/ui/EmptyState.tsx
  resources/js/components/ui/LoadingSpinner.tsx
  resources/js/components/ui/PageHeader.tsx
  resources/js/components/ui/SearchInput.tsx
  resources/js/components/ui/StatCard.tsx
  resources/js/components/ui/StatusChip.tsx
  resources/js/components/ui/index.tsx
Due: typescript-type-check, eslint

CI/CD updates&Typescript fixes
  .github/workflows/code-quality.yml
  resources/js/components/ui/EmptyState.tsx
  resources/js/components/ui/LoadingSpinner.tsx
  resources/js/components/ui/PageHeader.tsx
  resources/js/components/ui/SearchInput.tsx
  resources/js/components/ui/StatCard.tsx
Due: typescript-type-check, eslint

Path conditions:
  php-pint: any of: \.php$
  typescript-type-check: any of: \.(ts|tsx)$
  eslint: any of: \.(ts|tsx|js|jsx)$
